.main-container {
    gap: 16px;

    >* {
        flex: 1;
    }

    .filters-container {
        flex: 0;
        min-width: 360px;
    }

    .table-row{
        cursor: pointer;
    }
}

.add-fab{
    position: fixed!important;
    right: 32px;
    bottom: 32px;
}